<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Bootstrap CRUD Data Table for Database with Modal Form</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../public/style/general.css">
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<script src="../../public/js/general.js"></script>
</head>

<body>

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
		  <h1 class="display-4">Transpostes Maritimos</h1>
		  <p class="lead">Aqui você organiza suas rotas ;)</p>
		</div>
	  </div>

	<div class="col-md-12">

		<div class="card text-center">
			<div class="card-header">
				<ul class="nav nav-tabs card-header-tabs" id="myTab" role="tabpanel">
					<li class="nav-item">
						<a class="nav-link active" id="Cargas-tab" data-toggle="tab" href="#Cargas" role="tab"
							aria-controls="Cargas" aria-selected="true">Cargas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="Navios-tab" data-toggle="tab" href="#Navios" role="tab"
							aria-controls="Navios" aria-selected="false">Navios</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="Portos-tab" data-toggle="tab" href="#Portos" role="tab"
							aria-controls="Portos" aria-selected="false">Portos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="Agentes-tab" data-toggle="tab" href="#Agentes" role="tab"
							aria-controls="Agentes" aria-selected="false">Agentes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="Rotas-tab" data-toggle="tab" href="#Rotas" role="tab" aria-controls="Rotas"
							aria-selected="false">Rotas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="saidaNavio-tab" data-toggle="tab" href="#saidaNavio" role="tab"
							aria-controls="saidaNavio" aria-selected="false">Saída Navio</a>
					</li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane fade show active" id="Cargas" role="tabpanel" aria-labelledby="Cargas-tab">

					<div class="table-responsive">
						<div class="table-wrapper">
							<div class="table-title">
								<div class="row">
									<div class="col-sm-6">
										
									</div>
									<div class="col-sm-6">
										<a href="#addCargasModal" class="btn btn-success" data-toggle="modal"><i
												class="material-icons">&#xE147;</i> <span>Adicionar nova carga</span></a>
										<a href="#deleteCargaModal" class="btn btn-danger" data-toggle="modal"><i
												class="material-icons">&#xE15C;</i> <span>Deletar</span></a>
									</div>
								</div>
							</div>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th>
											<span class="custom-checkbox">
												<input type="checkbox" id="selectAll">
												<label for="selectAll"></label>
											</span>
										</th>
										<th>Codigo</th>
										<th>Navio</th>
										<th>Porto</th>
										<th>Peso</th>
										<th>Data Desembarque</th>
										<th>Agente</th>
										<th>Data Validade</th>
										<th>Perecivel</th>
										<th>Temperatura Máxima</th>
										<th>Sensivel</th>
										<th>Etiqueta</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<span class="custom-checkbox">
												<input type="checkbox" id="checkbox1" name="options[]" value="1">
												<label for="checkbox1"></label>
											</span>
										</td>
										<td>1</td>
										<td>Titanic</td>
										<td>Pecem</td>
										<td>50</td>
										<td>15-05-2021</td>
										<td>Roberto</td>
										<td>25-07-2021</td>
										<td>SIM</td>
										<td>50 °C</td>
										<td>SIM</td>
										<td>FDD6b5d</td>
										<td>
											<a href="#editCargasModal" class="edit" data-toggle="modal"><i
													class="material-icons" data-toggle="tooltip"
													title="Edit">&#xE254;</i></a>
											<a href="#deleteCargaModal" class="delete" data-toggle="modal"><i
													class="material-icons" data-toggle="tooltip"
													title="Delete">&#xE872;</i></a>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="clearfix">
								<div class="hint-text">mostrando <b>5</b> de <b>25</b></div>
								<ul class="pagination">
									<li class="page-item disabled"><a href="#">Anterior</a></li>
									<li class="page-item"><a href="#" class="page-link">1</a></li>
									<li class="page-item"><a href="#" class="page-link">2</a></li>
									<li class="page-item active"><a href="#" class="page-link">3</a></li>
									<li class="page-item"><a href="#" class="page-link">4</a></li>
									<li class="page-item"><a href="#" class="page-link">5</a></li>
									<li class="page-item"><a href="#" class="page-link">Próxima</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>
				<div class="tab-pane fade" id="Navios" role="tabpanel" aria-labelledby="Navios-tab">
					<div class="table-responsive">
						<div class="table-wrapper">
							<div class="table-title">
								<div class="row">
									<div class="col-sm-6">
										
									</div>
									<div class="col-sm-6">
										<a href="#addNavioModal" class="btn btn-success" data-toggle="modal"><i
												class="material-icons">&#xE147;</i> <span>Adicionar novo navio</span></a>
										<a href="#deleteNavioModal" class="btn btn-danger" data-toggle="modal"><i
												class="material-icons">&#xE15C;</i> <span>Deletar</span></a>
									</div>
								</div>
							</div>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th>
											<span class="custom-checkbox">
												<input type="checkbox" id="selectAll">
												<label for="selectAll"></label>
											</span>
										</th>
										<th>Codigo</th>
										<th>Capacidade</th>
										<th>Nome</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<span class="custom-checkbox">
												<input type="checkbox" id="checkbox1" name="options[]" value="1">
												<label for="checkbox1"></label>
											</span>
										</td>
										<td>1</td>
										<td>564</td>
										<td>Titanic</td>
										<td>
											<a href="#editNavioModal" class="edit" data-toggle="modal"><i
													class="material-icons" data-toggle="tooltip"
													title="Edit">&#xE254;</i></a>
											<a href="#deleteNavioModal" class="delete" data-toggle="modal"><i
													class="material-icons" data-toggle="tooltip"
													title="Delete">&#xE872;</i></a>
										</td>
									</tr>
								</tbody>
							</table>
							<div class="clearfix">
								<div class="hint-text">mostrando <b>5</b> de <b>25</b></div>
								<ul class="pagination">
									<li class="page-item disabled"><a href="#">Anterior</a></li>
									<li class="page-item"><a href="#" class="page-link">1</a></li>
									<li class="page-item"><a href="#" class="page-link">2</a></li>
									<li class="page-item active"><a href="#" class="page-link">3</a></li>
									<li class="page-item"><a href="#" class="page-link">4</a></li>
									<li class="page-item"><a href="#" class="page-link">5</a></li>
									<li class="page-item"><a href="#" class="page-link">Próxima</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="Portos" role="tabpanel" aria-labelledby="Portos-tab"></div>
				<div class="tab-pane fade" id="Agentes" role="tabpanel" aria-labelledby="Agentes-tab"></div>
				<div class="tab-pane fade" id="Rotas" role="tabpanel" aria-labelledby="Rotas-tab"></div>
				<div class="tab-pane fade" id="saidaNavio" role="tabpanel" aria-labelledby="saidaNavio-tab"></div>
			</div>
		</div>

	</div>


	<!-- Add Modal HTML Cargas -->
	<div id="addCargasModal" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<form>

					<div class="modal-header">
						<h4 class="modal-title">Adicionar Carga</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>

					<div class="modal-body">

						<div class="form-group">
							<label>Navio</label>
							<select class="form-control" id="exampleFormControlSelect1">
							</select>
						</div>
						<div class="form-group">
							<label>Porto</label>
							<select class="form-control" id="exampleFormControlSelect1">
							</select>
						</div>
						<div class="form-group">
							<label>Peso</label>
							<input class="form-control" required>
						</div>
						<div class="form-group">
							<label>Data desembarque</label>
							<input type="date" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Agente</label>
							<select class="form-control" id="exampleFormControlSelect1">
							</select>
						</div>
						<div class="form-group">
							<label>Data validade</label>
							<input type="date" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Perecivel</label>
							<select class="form-control" id="exampleFormControlSelect1" required>
								<option value="">SIM</option>
								<option value="">NÃO</option>
							</select>
						</div>
						<div class="form-group">
							<label>Temperatura Máxima</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Sensivel</label>
							<select class="form-control" id="exampleFormControlSelect1" required>
								<option value="">SIM</option>
								<option value="">NÃO</option>
							</select>
						</div>
						<div class="form-group">
							<label>Etiqueta</label>
							<input type="text" class="form-control" required>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-success" value="Salvar">
					</div>
				</form>

			</div>
		</div>
	</div>
	<!-- Edit Modal HTML Cargas -->
	<div id="editCargasModal" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<form>

					<div class="modal-header">
						<h4 class="modal-title">Editar Carga</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>

					<div class="modal-body">

						<div class="form-group">
							<label>Navio</label>
							<select class="form-control" id="exampleFormControlSelect1">
							</select>
						</div>
						<div class="form-group">
							<label>Porto</label>
							<select class="form-control" id="exampleFormControlSelect1">
							</select>
						</div>
						<div class="form-group">
							<label>Peso</label>
							<input class="form-control" required>
						</div>
						<div class="form-group">
							<label>Data desembarque</label>
							<input type="date" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Agente</label>
							<select class="form-control" id="exampleFormControlSelect1">
							</select>
						</div>
						<div class="form-group">
							<label>Data validade</label>
							<input type="date" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Perecivel</label>
							<select class="form-control" id="exampleFormControlSelect1" required>
								<option value="">SIM</option>
								<option value="">NÃO</option>
							</select>
						</div>
						<div class="form-group">
							<label>Temperatura Máxima</label>
							<input type="text" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Sensivel</label>
							<select class="form-control" id="exampleFormControlSelect1" required>
								<option value="">SIM</option>
								<option value="">NÃO</option>
							</select>
						</div>
						<div class="form-group">
							<label>Etiqueta</label>
							<input type="text" class="form-control" required>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-success" value="Editar">
					</div>
				</form>

			</div>
		</div>
	</div>
	<!-- Delete Modal Cargas HTML -->
	<div id="deleteCargaModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Deletar Carga</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p>Você realmente deseja deletar essa carga?</p>
						<p class="text-warning"><small>Essa ação não poderá ser desfeita</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-danger" value="Deletar">
					</div>
				</form>
			</div>
		</div>
	</div>





	<!-- Add Modal HTML Navio -->
	<div id="addNavioModal" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<form>

					<div class="modal-header">
						<h4 class="modal-title">Adicionar Carga</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>

					<div class="modal-body">

						<div class="form-group">
							<label>Capacidade</label>
							<input type="text" class="form-control" required>
						</div>
						
						<div class="form-group">
							<label>Nome</label>
							<input type="text" class="form-control" required>
						</div>

					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-success" value="Salvar">
					</div>
				</form>

			</div>
		</div>
	</div>
	<!-- Edit Modal HTML Navio -->
	<div id="editNavioModal" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<form>

					<div class="modal-header">
						<h4 class="modal-title">Editar Carga</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>

					<div class="modal-body">

						<div class="form-group">
							<label>Capacidade</label>
							<input type="text" class="form-control" required>
						</div>
						
						<div class="form-group">
							<label>Nome</label>
							<input type="text" class="form-control" required>
						</div>

					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-success" value="Editar">
					</div>
				</form>

			</div>
		</div>
	</div>
	<!-- Delete Modal Cargas HTML -->
	<div id="deleteNavioModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">
						<h4 class="modal-title">Deletar Navio</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p>Você realmente deseja deletar esse navio?</p>
						<p class="text-warning"><small>Essa ação não poderá ser desfeita</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
						<input type="submit" class="btn btn-danger" value="Deletar">
					</div>
				</form>
			</div>
		</div>
	</div>

</body>

</html>